In [21]:
import os
import pandas as pd

In [99]:
cwd = os.getcwd()
#ptin(cwd)
BASE_DIR = os.path.dirname(cwd)
DATA_DIR = os.path.join(BASE_DIR, 'data')
CACHE_DIR = os.path.join(BASE_DIR, 'cache')
working_file = os.path.join(CACHE_DIR, 'movies-ranking-dataset.csv')
ouput_file = os.path.join(CACHE_DIR, 'movies-ranking-dataset-cleaned.csv')

In [70]:
df = pd.read_csv(working_file)

In [71]:
df.drop(['Unnamed: 0'], axis=1, inplace =True)
df['Rank'] = -1
df.head(10)

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1,filename,year
0,-1,Bad Boys for Life,"$419,074,646","$204,417,855",48.8%,"$214,656,791",51.2%,2020.csv,2020
1,-1,Sonic the Hedgehog,"$306,766,470","$146,066,470",47.6%,"$160,700,000",52.4%,2020.csv,2020
2,-1,Dolittle,"$223,343,452","$77,047,065",34.5%,"$146,296,387",65.5%,2020.csv,2020
3,-1,Birds of Prey: And the Fantabulous Emancipatio...,"$201,858,461","$84,158,461",41.7%,"$117,700,000",58.3%,2020.csv,2020
4,-1,The Invisible Man,"$122,914,050","$64,914,050",52.8%,"$58,000,000",47.2%,2020.csv,2020
5,-1,The Gentlemen,"$114,996,853","$36,296,853",31.6%,"$78,700,000",68.4%,2020.csv,2020
6,-1,The Call of the Wild,"$107,604,626","$62,342,368",57.9%,"$45,262,258",42.1%,2020.csv,2020
7,-1,The Grudge,"$49,511,319","$21,221,803",42.9%,"$28,289,516",57.1%,2020.csv,2020
8,-1,Fantasy Island,"$47,315,959","$26,441,782",55.9%,"$20,874,177",44.1%,2020.csv,2020
9,-1,Underwater,"$40,882,928","$17,291,078",42.3%,"$23,591,850",57.7%,2020.csv,2020

In [72]:
df['Domestic %'] = df['%']
df['Foreign %'] = df['%.1']

In [73]:
df.head()

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1,filename,year,Domestic %,Foreign %
0,-1,Bad Boys for Life,"$419,074,646","$204,417,855",48.8%,"$214,656,791",51.2%,2020.csv,2020,48.8%,51.2%
1,-1,Sonic the Hedgehog,"$306,766,470","$146,066,470",47.6%,"$160,700,000",52.4%,2020.csv,2020,47.6%,52.4%
2,-1,Dolittle,"$223,343,452","$77,047,065",34.5%,"$146,296,387",65.5%,2020.csv,2020,34.5%,65.5%
3,-1,Birds of Prey: And the Fantabulous Emancipatio...,"$201,858,461","$84,158,461",41.7%,"$117,700,000",58.3%,2020.csv,2020,41.7%,58.3%
4,-1,The Invisible Man,"$122,914,050","$64,914,050",52.8%,"$58,000,000",47.2%,2020.csv,2020,52.8%,47.2%

In [74]:
df = df.drop(['%', '%.1'], axis = 1)

In [75]:
df.head()

,Rank,Release Group,Worldwide,Domestic,Foreign,filename,year,Domestic %,Foreign %
0,-1,Bad Boys for Life,"$419,074,646","$204,417,855","$214,656,791",2020.csv,2020,48.8%,51.2%
1,-1,Sonic the Hedgehog,"$306,766,470","$146,066,470","$160,700,000",2020.csv,2020,47.6%,52.4%
2,-1,Dolittle,"$223,343,452","$77,047,065","$146,296,387",2020.csv,2020,34.5%,65.5%
3,-1,Birds of Prey: And the Fantabulous Emancipatio...,"$201,858,461","$84,158,461","$117,700,000",2020.csv,2020,41.7%,58.3%
4,-1,The Invisible Man,"$122,914,050","$64,914,050","$58,000,000",2020.csv,2020,52.8%,47.2%

In [76]:
df['Worldwide'] = df['Worldwide'].replace('$','').replace(',','')
df.head()

,Rank,Release Group,Worldwide,Domestic,Foreign,filename,year,Domestic %,Foreign %
0,-1,Bad Boys for Life,"$419,074,646","$204,417,855","$214,656,791",2020.csv,2020,48.8%,51.2%
1,-1,Sonic the Hedgehog,"$306,766,470","$146,066,470","$160,700,000",2020.csv,2020,47.6%,52.4%
2,-1,Dolittle,"$223,343,452","$77,047,065","$146,296,387",2020.csv,2020,34.5%,65.5%
3,-1,Birds of Prey: And the Fantabulous Emancipatio...,"$201,858,461","$84,158,461","$117,700,000",2020.csv,2020,41.7%,58.3%
4,-1,The Invisible Man,"$122,914,050","$64,914,050","$58,000,000",2020.csv,2020,52.8%,47.2%

## Clean Col

In [83]:
to_clean_cols = ['Worldwide', 'Domestic', 'Foreign']
def currency_str_to_int(current_val):
    currency_val = current_val.replace('$','').replace(',','')
    try:
        currency_val = int(currency_val)
    except:
        currency_val = 0
    return currency_val

def clean_cols(row):
    for col in to_clean_cols:
        current_val = row[col]
        row[col] = currency_str_to_int(current_val)
    return row

In [91]:
df_cleaned = df.apply(clean_cols, axis=1)
df_cleaned.head()

,Rank,Release Group,Worldwide,Domestic,Foreign,filename,year,Domestic %,Foreign %
0,-1,Bad Boys for Life,419074646,204417855,214656791,2020.csv,2020,48.8%,51.2%
1,-1,Sonic the Hedgehog,306766470,146066470,160700000,2020.csv,2020,47.6%,52.4%
2,-1,Dolittle,223343452,77047065,146296387,2020.csv,2020,34.5%,65.5%
3,-1,Birds of Prey: And the Fantabulous Emancipatio...,201858461,84158461,117700000,2020.csv,2020,41.7%,58.3%
4,-1,The Invisible Man,122914050,64914050,58000000,2020.csv,2020,52.8%,47.2%

In [92]:
df_cleaned.dtypes

Rank              int64
Release Group    object
Worldwide         int64
Domestic          int64
Foreign           int64
filename         object
year              int64
Domestic %       object
Foreign %        object
dtype: object

In [93]:
df_cleaned.sort_values(by=['Worldwide'], inplace =True, ascending=False)
df_cleaned.head()

,Rank,Release Group,Worldwide,Domestic,Foreign,filename,year,Domestic %,Foreign %
31,-1,Avengers: Endgame,2797800564,858373000,1939427564,2019.csv,2019,30.7%,69.3%
1617,-1,Star Wars: Episode VII - The Force Awakens,2068223624,936662225,1131561399,2015.csv,2015,45.3%,54.7%
718,-1,Avengers: Infinity War,2048359754,678815482,1369544272,2018.csv,2018,33.1%,66.9%
1618,-1,Jurassic World,1670400637,652270625,1018130012,2015.csv,2015,39%,61%
32,-1,The Lion King,1656943394,543638043,1113305351,2019.csv,2019,32.8%,67.2%

In [94]:
df_cleaned.reset_index(inplace =True, drop= True)
df_cleaned.head()

,Rank,Release Group,Worldwide,Domestic,Foreign,filename,year,Domestic %,Foreign %
0,-1,Avengers: Endgame,2797800564,858373000,1939427564,2019.csv,2019,30.7%,69.3%
1,-1,Star Wars: Episode VII - The Force Awakens,2068223624,936662225,1131561399,2015.csv,2015,45.3%,54.7%
2,-1,Avengers: Infinity War,2048359754,678815482,1369544272,2018.csv,2018,33.1%,66.9%
3,-1,Jurassic World,1670400637,652270625,1018130012,2015.csv,2015,39%,61%
4,-1,The Lion King,1656943394,543638043,1113305351,2019.csv,2019,32.8%,67.2%

In [95]:
df_cleaned['Rank'] = df_cleaned.index+1
df_cleaned

,Rank,Release Group,Worldwide,Domestic,Foreign,filename,year,Domestic %,Foreign %
0,1,Avengers: Endgame,2797800564,858373000,1939427564,2019.csv,2019,30.7%,69.3%
1,2,Star Wars: Episode VII - The Force Awakens,2068223624,936662225,1131561399,2015.csv,2015,45.3%,54.7%
2,3,Avengers: Infinity War,2048359754,678815482,1369544272,2018.csv,2018,33.1%,66.9%
3,4,Jurassic World,1670400637,652270625,1018130012,2015.csv,2015,39%,61%
4,5,The Lion King,1656943394,543638043,1113305351,2019.csv,2019,32.8%,67.2%
...,...,...,...,...,...,...,...,...,...
7189,7190,Skinless,400,400,0,2014.csv,2014,100%,-
7190,7191,Cinemanovels,398,398,0,2014.csv,2014,100%,-
7191,7192,"Mummy, I'm A Zombie",120,120,0,2014.csv,2014,100%,-
7192,7193,Paranoid Girls,78,78,0,2015.csv,2015,100%,-
7193,7194,Confession of a Child of the Century 2015 Re-r...,74,74,0,2015.csv,2015,100%,-

In [97]:
df_cleaned['Domestic %'] = df_cleaned['Domestic'] /df_cleaned['Worldwide']
df_cleaned['Foreign %'] = df_cleaned['Foreign'] / df_cleaned['Worldwide']

In [98]:
df_cleaned.head()

,Rank,Release Group,Worldwide,Domestic,Foreign,filename,year,Domestic %,Foreign %
0,1,Avengers: Endgame,2797800564,858373000,1939427564,2019.csv,2019,0.306803,0.693197
1,2,Star Wars: Episode VII - The Force Awakens,2068223624,936662225,1131561399,2015.csv,2015,0.452882,0.547118
2,3,Avengers: Infinity War,2048359754,678815482,1369544272,2018.csv,2018,0.331395,0.668605
3,4,Jurassic World,1670400637,652270625,1018130012,2015.csv,2015,0.390488,0.609512
4,5,The Lion King,1656943394,543638043,1113305351,2019.csv,2019,0.328097,0.671903

In [100]:
df_cleaned.to_csv(ouput_file, index = False)